<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>INFO</level></filter>
    <encoder><pattern>%coloredLevel %logger{25} - %message%n%xException{10}</pattern></encoder>
  </appender>

  <appender name="ALL_FILE" class="ch.qos.logback.core.FileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>INFO</level></filter>
    <file>${application.home}/logs/all.log</file>
    <encoder><pattern>%date %-5level %logger{30} %message%n%xException{60}</pattern></encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ALL_FILE" />
    <appender-ref ref="ERROR_FILE" />
  </root>

  <logger name="akka.event.slf4j.Slf4jLogger" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>

</configuration>
