<configuration>

    <variable name="ELASTIC4S_LOG_LEVEL" value="${ELASTIC4S_LOG_LEVEL:-WARN}" />
    <variable name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-INFO}" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>logs/lila-search.log</file>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{20} - %msg%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{20} - %msg%n%xException</pattern>
        </encoder>
    </appender>

    <root level="${APP_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="http4s"/>
    <logger name="com.sksamuel.elastic4s" level="${ELASTIC4S_LOG_LEVEL}"/>
</configuration>
